@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* FONTS */
  --ff: "Raleway", sans-serif, "Courier New", Courier, monospace;
  /* COLOR */
  --bgColor: #475569;
  --cardBgColor: #cbd5e1;
  --hfColor: #1e293b;
  --radialColor: whitesmoke;
  --lightColor: whitesmoke;
  --darkColor: #1e293b;
  /* GENERAL */
  --shadows: 0 6px 5px -5px var(--darkColor);
}

/* || UTILITY CLASS */
.nowrap {
  white-space: nowrap;
}

/* || STYLES FOR DARK THEME */
@media (prefers-color-scheme: dark) {
  :root {
    --bgColor: #000;
    --cardBgColor: #868686;
    --hfColor: #333;
    --lightColor: #a7a7a7;
  }
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: var(--ff);
  min-height: 100vh;
  background-color: var(--bgColor);
  background-image: radial-gradient(var(--radialColor), var(--bgColor));
  color: var(--lightColor);
  display: flex;
  flex-direction: column;
}

header,
footer {
  position: sticky;
  background-color: var(--hfColor);
  text-align: center;
  color: var(--lightColor);
  z-index: 1;
}

header {
  top: 0;
}

nav {
  background-color: var(--lightColor);
  padding: 0.5rem;
  border-bottom: 2px solid var(--darkColor);
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  box-shadow: var(--shadows);
}

/* nav a:link,
nav a:visited {
  color: #000;
} */

/* Same as above */
nav a:any-link {
  color: #1e293b;
  text-decoration: none;
}

/* nav a:hover,
nav a:focus {
  color: hsla(0, 0%, 20%, 0.6);
} */

/* Same as above */
nav :is(a:hover, a:focus) {
  color: hsla(0, 77%, 43%, 0.6);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  color: var(--darkColor);
}

footer {
  bottom: 0;
}

/* || PROFILE CARD */
.card {
  scroll-margin-top: 8rem;
  width: min(100%, 320px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid var(--darkColor);
  border-radius: 12px;
  background-color: var(--cardBgColor);
}

.card:target {
  border: 5px double #1e293b;
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}

.card img {
  border: 5px double var(--darkColor);
  border-radius: 50%;
}

.card img:not([alt]) {
  border: 10px solid red;
}

.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}

.card figcaption::after {
  content: "🍁";
  display: block;
}

.card figcaption::first-letter {
  font-size: 3rem;
}

.card p {
  position: relative;
}

/* Suedo elements */
.card p::before {
  content: open-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  left: -0.5em;
}

.card p::after {
  content: close-quote;
  font-size: 3em;
  position: absolute;
  top: -0.25em;
  right: -0.5em;
}

/* || Mobile Screen */
@media screen and (min-width: 481px) {
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }

  nav a {
    font-size: 2rem;
  }

  .card img {
    width: min(100%, 500px);
    height: auto;
    border: 8px double var(--darkColor);
  }

  .card p {
    font-size: 2rem;
  }

  footer h2 {
    font-size: 1.5rem;
    padding: 6px 0;
  }

  .card:last-child {
    order: -1;
  }
}

/* || Ipads-tablets SCREEN */
@media screen and (min-width: 768px) {
  nav {
    display: none;
  }

  .card {
    width: min(100%, 325px);
  }

  .card figure {
    flex-flow: column-reverse;
  }

  .card p {
    margin-top: 1rem;
  }
}

/* || SMALL SCREEN Laptops */
@media screen and (min-width: 1024px) {
  .card {
    width: min(100%, 350px);
  }

  .card figcaption {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 25px;
  }
}

/* || LARGE SCREEN */
@media screen and (min-width: 1200px) {
  .card {
    width: min(33% - 1rem, 500px);
  }
}

/* || Mobile device screen */
@media screen and (min-aspect-ratio: 7/4) and (max-height: 425px) {
  h1 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }

  main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
  }

  .card {
    width: min(33% - 0.25rem, 200px);
  }

  .card figcaption,
  .card p {
    font-size: 1rem;
  }
}
