@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || UTILITY CLASS */
.nowrap{
  white-space: nowrap;
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif, "Courier New", Courier, monospace;
  background-color: #474747;
  background-image: radial-gradient(whitesmoke, #474747);
  color: white;
}

header,
footer {
  position: sticky;
  background-color: rgb(43, 5, 78);
  text-align: center;
}

header {
  top: 0;

}

nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 2px;
  border: 2px solid black;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0.5rem 0;
}

nav a:hover {
  color: rgb(108, 110, 110);
}

main {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  flex-direction: column;
}

.card{
  scroll-margin-top: 8rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  border: 2px solid black;
  border-radius: 12px;
  background-color: rgb(175, 178, 180);
}

.card figure{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.card img{
  width: min(100%, 320px);
  height: auto;
  border: 5px double black;
  border-radius: 50%;
}

.card figcaption{
  color: black;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  padding: 1rem;
}

.card p{
  color: black;
  margin-bottom: 1rem;
}

footer {
  bottom: 0;
  font-size: 1rem;
}


/* || Mobile Screen */
@media screen and (min-width: 481px) {
  body{
    background-color: rebeccapurple;
    background-image: radial-gradient(whitesmoke, rebeccapurple);
  }

  nav a{
    font-size: 2rem;
  }

  .card img{
    width: min(100%, 500px);
    height: auto;
    border: 8px double black;
  }

  
  .card figcaption {
    font-size: 2.5rem;
  }

  .card p {
    font-size: 2rem;
  }
}

/* || Ipads-tablets SCREEN */
@media screen and (min-width: 768px) {
  body{
    background-color: red;
    background-image: radial-gradient(whitesmoke, red);
  }

  nav{
    display: none;
  }

  main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .card{
    display: flex;
    flex-flow: column nowrap;
  }
}
/* || SMALL SCREEN Laptops */
@media screen and (min-width: 1024px) {
  body{
    background-color: rebeccapurple;
    background-image: radial-gradient(whitesmoke, rebeccapurple);
  }
}
/* || LARGE SCREEN */
@media screen and (min-width: 1200px) {
  body{
    background-color: rebeccapurple;
    background-image: radial-gradient(whitesmoke, rebeccapurple);
  }
}
/* || XL SCREEN */
@media screen and (min-aspect-ratio: 7/4) and (orientation: landscape) {
  body{
    background-color: rgb(111, 108, 55);
    background-image: radial-gradient(whitesmoke, rgb(111, 108, 55));
  }
}